#faq {
    background-color: var(--champagne-pink-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 80px 8%;
}

#faq .section-subtitle {
    margin-bottom: 24px;
}

.faq-container {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.faq-item {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
    overflow: hidden;
    transition: all 0.3s ease;
}

.faq-question {
    all: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 25px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--liver);
    box-sizing: border-box;
}

.faq-question:hover {
    background-color: #fcfcfc;
}

.faq-question i {
    font-size: 1rem;
    color: var(--beaver);
    transition: transform 0.3s ease-in-out;
}

.faq-answer {
    padding: 0 25px 20px 25px;
    color: #333;
    line-height: 1.7;
    font-size: 1rem;
    display: none;
    overflow: hidden;
}

.faq-item.active .faq-question i {
    transform: rotate(180deg);
}