:root{
--champagne-pink: #ffe7daff;
--champagne-pink-2: #fdebddff;
--pale-dogwood: #d1b3a6ff;
--beaver: #997a6eff;
--liver: #6a483cff;
}

#home {
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    font-size: 4rem;
    color: #1d1d1d;
}

#cta .title span {
    color: var(--liver);
}

#cta .description{
    font-size: 1.2rem;
}

#cta_buttons {
    display: flex;
    gap: 24px 
}

#cta_buttons a {
    text-decoration: none;
    color: #1d1d1d;
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #FFFFFF;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#phone_button button {
    box-shadow: none;
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;
}

#banner img{
    height: 100%;
    width: fit-content;
    
}

.shape {
    background-color: var(--beaver);
    width: 730px;
    height: 100%;
    position: absolute;
    border-radius: 30% 0% 0% 30%;
    top: 0;
    right: 0;
    z-index: 1;
    
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img,
    #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 460px) {
    #phone_button button{
        display: none;
    }
}