:root{
--champagne-pink: #ffe7daff;
--champagne-pink-2: #fdebddff;
--pale-dogwood: #d1b3a6ff;
--beaver: #997a6eff;
--liver: #6a483cff;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#serv {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.tdserv {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding: 1rem;
    background-color: #ffff;
    box-shadow: none;
    border:0px;
    border-radius: 16px;
    outline: 2px dashed var(--beaver);
    outline-offset: -10px;
    position: relative;
    overflow: hidden;
}


.description-serv{
    color: #434343;
    text-align: center;
}
.serv-rate i{
    color: var(--pale-dogwood);
}

.serv-price{
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 1170px) {
    #serv{
        flex-wrap: wrap;
        justify-content: center;
    }

    .tdserv {
        width: calc(50% - 12px);
    }
}

@media screen and (max-width: 600px){
    .tdserv {
        width: 100%;
    }

    #menu section-subtitle{
        text-align: center;
    }
}


