#sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 80px 8%;
    background-color: var(--champagne-pink);
}

.about-image {
    width: 45%;
    flex-shrink: 0;
}

.about-image img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border: 2px solid #fff;
}

.about-content {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-content p {
    color: #333;
    line-height: 1.7;
    font-size: 1rem;
    text-align: justify;
}


@media screen and (max-width: 900px) {
    #sobre {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .about-image,
    .about-content {
        width: 100%;
    }

    .about-content p {
        text-align: center;
    }
}