#sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 80px 8%;
    background-color: var(--champagne-pink);
}

.about-image {
    width: 30%;
    flex-shrink: 0;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border: 2px solid #fff;
    overflow: hidden;
    position: relative;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-content p {
    color: #333;
    line-height: 1.7;
    font-size: 1rem;
    text-align: justify;
}


@media screen and (max-width: 900px) {
    #sobre {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .about-image,
    .about-content {
        width: 100%;
    }

    .about-content p {
        text-align: center;
    }
}

.about-swiper {
    width: 100%;
    height: 100%;
}

.about-swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.about-swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

:root {
    --swiper-navigation-color: var(--beaver);
    --swiper-pagination-color: var(--beaver);
    --swiper-navigation-size: 30px;
}

.about-swiper .swiper-button-prev,
.about-swiper .swiper-button-next {
    background-color: rgba(255, 231, 218, 0.5);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.about-swiper .swiper-button-prev:hover,
.about-swiper .swiper-button-next:hover {
    background-color: rgba(255, 231, 218, 0.8);
}

.about-swiper .swiper-pagination {
    bottom: 15px;
}

.about-swiper .swiper-pagination-bullet {
    background: #fff;
    border: 1px solid var(--beaver);
    opacity: 0.8;
}

.about-swiper .swiper-pagination-bullet-active {
    background: var(--beaver);
    opacity: 1;
}

.about-loading {
    color: var(--liver);
    font-size: 1.1rem;
    position: absolute;
}

.about-swiper.loading,
.about-loading.loaded {
    display: none;
}