@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
--champagne-pink: #ffe7daff;
--champagne-pink-2: #fdebddff;
--pale-dogwood: #d1b3a6ff;
--beaver: #997a6eff;
--liver: #6a483cff;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--champagne-pink);
}

section {
    padding: 28px 8%;
}

.btn-default{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--beaver) ;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease-in;
}
.btn-default:hover{
    background-color: var(--liver);
}

.social-media-buttons{
    display: flex;
    gap: 18px;
}

.social-media-buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: #1d1d1d;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social-media-buttons a:hover{
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);    
}

.section-title {
    color: var(--beaver);
    font-size: 1.5rem;
}

.section-subtitle {
    font-size: 2.18rem;
}



